*.out
zhaJinHua/zhajinhua.si4project/*
*.bin
unixNetWorkProgramming/unixNetWork.si4project/*
unixNetWorkProgramming/unixNetworkProgramming.si4project/*
tmp.txt
*.musicxml
beizhou/random_chinese_names/res.txt
beizhou/ruleYear.txt
beizhou/words.txt
